
@media screen and (max-width: 500px) {
    /**/
    .sanpham1 {
        display: none;
    }

    .image1 {
        text-align: center;
    }

    .image3 {
        display: none;
    }

    .image4 {
        display: none;
    }

    .image6 {
        display: none;
    }

    .anhgioithieu {
        display: none;
    }

    .imgsever {
        width: 25%;
        margin-left: 148px;
    }

    .sever-shop {
        text-align: center;
        margin-top: 20px;
    }

    .banchay {
        font-size: 16px;
    }

    .consutant {
        display: none;
    }

    .navbar__right {
        display: flex;
        justify-content: flex-end;
    }

    .chaomung {
        text-align: center;
    }

    .navbar {
        display: none;
    }

    .us-block {
        font-size: 19px;
    }

    .imagedoc img {
        display: none;
    }

    .list-mauhoa {
        display: none;
    }

    .product-sever {
        display: none;
    }

    .Price {
        font-size: 14px;
    }

    .cart__items-count {
        font-size: 14px;
        margin-top: 6px;
    }

    .product-tencart {
        font-size: 15px;
    }

    .product__pride-newPride {
        font-size: 25px;
    }
    .standout-block {
        display: none;
    }
    .tintuc1 {
        margin-bottom:20px;
    }
    /**/
    .navbar__search > .fa-search {
        line-height: unset;
        position: unset;
        padding-left: 15px;
        right: unset;
        font-size: 20px;
    }

    .navbar__center {
        margin: 0;
    }

    .notAllow {
        padding: 1rem;
    }

    .product__details-img {
        width: unset;
    }

    .big-img > img {
        width: 100%;
        height: 400px;
    }

    .small-img {
        flex-wrap: wrap;
    }

    .small-imgg {
        margin-right: unset !important;
    }

    .product__img {
        height: 180px;
    }
}


/*-----------------------------------*/
@media screen and (max-width: 600px) {
    .cart__items {
        padding: 0 !important;
    }
}
/*-----------------------------------*/
@media (max-width: 768px) {
    .fix-width {
        width: auto;
    }

    .table {
        width: 700px;
    }

    .paymentContent {
        font-size: 15px;
    }
    .navbar {
        width: 100%;
    }

    .footer__info {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .cart__body {
        width: 100%;
    }

}

/*-----------------------------------*/
@media (min-width: 992px) {
    .col-lg-2_5 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 30%;
    }
}

@media (max-width: 992px) {
    .body {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .listmauhoa {
        color: red;
    }

    .product__details {
        flex-direction: column;
    }

    .notAllow {
        padding: 10rem;
    }

        .notAllow > img {
            width: 100%;
        }
}
/*-----------------------------------*/
@media screen and (max-width: 1150px) {
    .big-img > img {
        aspect-ratio: 16/9;
        height: 300px;
    }
}

@media screen and (min-width: 1150px) {
    #bars {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .bars_active {
        display: block !important;
    }

    .navbar__menu > ul {
        display: none !important;
    }

    .bars_active ~ ul {
        display: block !important;
        position: absolute;
        background: #fff;
        width: 100%;
        padding: 5px;
        top: 75px;
        left: 0;
        font-size: 18px;
        line-height: 40px;
        cursor: pointer;
    }
}
/*-----------------------------------*/
.fade-in-left {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-2-16 20:52:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}



